[Unit]
Description=Mount NAS music share using NFS

[Mount]
What=home.ams:/volumes/srv/audio
Where=/media/nfs/home/audio
Type=nfs
Options=noauto,user,x-systemd.automount,x-systemd.idle-timeout=10min

[Install]
WantedBy=multi-user.target
