[Unit]
Description=Mount NAS music share using NFS

[Mount]
What=home.ams:/volume2/music
Where=/media/nfs/home/music
Type=nfs
Options=noauto,user,x-systemd.automount,x-systemd.idle-timeout=10min

[Install]
WantedBy=multi-user.target
