[Unit]
Description=Mount NAS video share using NFS

[Mount]
What=home.ams:/volume2/video
Where=/media/nfs/home/video
Type=nfs
Options=noauto,user,x-systemd.automount,x-systemd.idle-timeout=10min

[Install]
WantedBy=multi-user.target
