---
- name: Install KDE Plasma
  become: true
  community.general.pacman:
    name:
      - dolphin
      - ffmpegthumbs
      - gwenview
      - kate
      - kcharselect
      - kcolorchooser
      - kleopatra
      - konsole
      - kwalletmanager
      - packagekit-qt6
      - plasma-meta
      - plasma-x11-session
      - spectacle
