[defaults]
display_failed_stderr = True
display_ok_hosts = True
interpreter_python = auto_silent
inventory  = ./localhost.yaml
roles_path = ./roles
stdout_callback = default
callback_result_format = yaml

[ssh_connections]
pipelining = true
