[Unit]
Description=Mount NAS homes share using NFS

[Mount]
What=home.ams:/volume1/homes
Where=/media/nfs/home/homes
Type=nfs
Options=noauto,user,x-systemd.automount,x-systemd.idle-timeout=10min

[Install]
WantedBy=multi-user.target
