---
- name: Install pipewire
  become: true
  community.general.pacman:
    name:
      - pamixer
      # - paprefs
      - pipewire-alsa
      - pipewire-jack
      - pipewire-pulse
      - pipewire-v4l2
      - pipewire-zeroconf
      - pulsemixer

# - name: Install alsa
#   become: true
#   community.general.pacman:
#     name: [alsa-utils, alsa-plugins]
#  # alsa-tools
#  # amixer sset Master    unmute
#  # amixer sset Speaker   unmute
#  # amixer sset Headphone unmute
#  # alsamixer
#  # speaker-test -c 2

- name: Install bluetooth
  become: true
  community.general.pacman:
    name: [bluez, bluez-tools, bluez-utils]
    # name: [bluez-cups, bluez-utils, pulseaudio-bluetooth]
  notify: [Enable bluetooth services]

# => -------------------------------------------------------------------------------------------------------------- {{{1

- name: Install boot tools
  become: true
  community.general.pacman:
    name: [efibootmgr]

- name: Install filesystem/partition tools
  become: true
  community.general.pacman:
    name: [btrfs-progs, ntfs-3g, udftools]

- name: Install search tools
  become: true
  community.general.pacman:
    name: [plocate]
  notify: [Enable search service]

- name: Install hdd tools
  become: true
  community.general.pacman:
    name: [smartmontools, hdparm]
    # - hd-idle
  notify: [Enable hdd smart service]

- name: Install common tools
  become: true
  community.general.pacman:
    name: [dmidecode, hwinfo, inxi, iotop, lsb-release, lshw, usbutils]

- name: Install network tools
  become: true
  community.general.pacman:
    name: [cifs-utils, inetutils, iw, nfs-utils, nss-mdns, wireless-regdb]

- name: Install compression tools
  become: true
  community.general.pacman:
    name: [cpio, unzip]

- name: Install pacman tools
  become: true
  community.general.pacman:
    name: [pacman-contrib, pkgstats]

# => -------------------------------------------------------------------------------------------------------------- {{{1

# - name: Allow RSYNC for new super user without SUDO password
#   become: true
#   ansible.builtin.lineinfile:
#     path: /etc/sudoers
#     state: present
#     insertafter: ^%sudo
#     line: "{{ lookup('env','USER') }} ALL=NOPASSWD: /usr/bin/rsync"

# - name: "create-remote-dirs"
#   file:
#     path: /dest/dir/{{item.path}}
#     state: directory
#     mode:  '0775'
#   with_filetree: sourceDir/
#   when: item.state == 'directory'
# - name: "copy-files"
#   copy:
#     src: "{{item.src}}"
#     dest: /dest/dir/{{item.path}}
#     mode:  '0744'
#   with_filetree: sourceDir/
#  # combinations of 'is' and 'is not' can be used below.
#   when: item.state == 'file'
#         and item.path is not search("excludedDir/*")
#         and item.path is not search("*.bak")
#
# this doesn't work over SSH. Need to investigate implementation above
- name: Copy configs
  become: true
  ansible.posix.synchronize:
    src: etc
    dest: /
    archive: false
    compress: false
    recursive: true
  changed_when: false

# - name: Disallow RSYNC for new super user without SUDO password
#   become: true
#   ansible.builtin.lineinfile:
#     path: /etc/sudoers
#     state: absent
#     line: "{{ lookup('env','USER') }} ALL=NOPASSWD: /usr/bin/rsync"
