[Unit]
Description=Mount NAS encfs share using NFS

[Mount]
What=home.ams:/volumes/cold/encfs
Where=/media/nfs/home/encfs
Type=nfs
Options=noauto,user,x-systemd.automount,x-systemd.idle-timeout=10min

[Install]
WantedBy=multi-user.target
