[Unit]
Description=Mount NAS torrent share using NFS

[Mount]
What=home.ams:/volumes/var/torrent
Where=/media/nfs/home/torrent
Type=nfs
Options=noauto,user,x-systemd.automount,x-systemd.idle-timeout=10min

[Install]
WantedBy=multi-user.target
