---
- name: Install Xorg
  become: true
  community.general.pacman:
    name:
      - accountsservice
      - xclip
      - xdotool
      - xorg-server
      - xorg-xdpyinfo
      - xorg-xev
      - xorg-xinit
      - xorg-xinput
      - xorg-xkill
      - xorg-xwininfo
      - xsel

- name: Install xdg
  become: true
  community.general.pacman:
    name: [xdg-user-dirs, xdg-utils]

- name: Install essential tools
  become: true
  ansible.builtin.package:
    name: [sxhkd]

- name: Install terminal emulator
  become: true
  community.general.pacman:
    name: [wezterm]

- name: Install themes
  become: true
  community.general.pacman:
    name: [archlinux-wallpaper, papirus-icon-theme]

- name: Update keyboard mapping
  become: true
  ansible.builtin.command: localectl set-x11-keymap us,ru pc105 , grp:shifts_toggle --no-convert
  changed_when: false

- name: Copy configs
  become: true
  ansible.posix.synchronize:
    src: X11
    dest: /etc/
    archive: false
    compress: false
    recursive: true
  changed_when: false
