---
- name: Ensure sshd-config includes drop-in directory
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    line: Include /etc/ssh/sshd_config.d/*.conf
    insertbefore: BOF
    validate: /usr/sbin/sshd -t -f %s
  notify: Restart SSH

- name: Identify all existing SSH host public keys
  ansible.builtin.find:
    paths: /etc/ssh
    patterns: ssh_host_*_key.pub
  register: found_host_keys

- name: Check age and rotate keys individually
  ansible.builtin.include_tasks: check-and-rotate-key.yaml
  loop: '{{ found_host_keys.files }}'
  loop_control:
    loop_var: key_file

- name: Identify keys again (in case some were regenerated)
  ansible.builtin.find:
    paths: /etc/ssh
    patterns: ssh_host_*_key.pub
  register: final_host_keys

- name: Process signing for each key
  ansible.builtin.include_tasks: sign-and-upload.yaml
  loop: '{{ final_host_keys.files }}'
  loop_control:
    loop_var: key_file
