[Unit]
Description=Remote desktop service (VNC) on SDDM for :0 display
Requires=display-manager.service
After=network-online.target
After=display-manager.service

[Service]
Type=simple
ExecStartPre=/usr/bin/bash -c "/usr/bin/systemctl set-environment XAUTHORITY=$(find /var/run/sddm/ -type f)"
ExecStart=/usr/bin/x0vncserver -display=:0 -rfbport=59000 -PAMService=login -PlainUsers="*" -SecurityTypes=TLSPlain
Restart=on-failure
RestartSec=500ms

[Install]
WantedBy=multi-user.target
