---
- name: Install sddm
  become: true
  ansible.builtin.package:
    name: [sddm]
    state: present

- name: Create sddm config dir
  become: true
  ansible.builtin.file:
    path: /etc/sddm.conf.d
    owner: root
    group: root
    state: directory
    mode: '0755'

- name: Copy sddm config file
  become: true
  ansible.builtin.copy:
    dest: /etc/sddm.conf.d/kde_settings.conf
    mode: '0644'
    owner: root
    group: root
    src: '{{ ansible_facts["distribution"] }}-kde_settings.conf'

- name: Include distribution specific tasks
  ansible.builtin.include_tasks: '{{ ansible_facts["distribution"] }}.yaml'

- name: Populate service facts
  ansible.builtin.service_facts: null

- name: Notify if sddm service needs to be enabled
  ansible.builtin.debug:
    var: ansible_facts.services['sddm.service']
  changed_when: true
  notify: [Enable sddm service]
  when: "'sddm.service' in ansible_facts.services and ansible_facts.services['sddm.service'].status != 'enabled'"

- name: Notify if lightdm service needs to be disabled
  ansible.builtin.debug:
    var: ansible_facts.services['lightdm.service']
  changed_when: true
  notify: [Disable lightdm service]
  when: "'lightdm.service' in ansible_facts.services and ansible_facts.services['lightdm.service'].status == 'enabled'"
