---
- name: Retrieving pacman mirrorlist update time
  register: pacman_mirrorlist_stat
  ansible.builtin.stat:
    path: /etc/pacman.d/mirrorlist

- name: Update pacman mirrors
  register: pacman_mirrorlist
  when: ((ansible_facts['date_time'].epoch|int - pacman_mirrorlist_stat.stat.mtime) > (4 * 60 * 60))
  become: true
  ansible.builtin.command: >
    reflector --country "{{ install_pacman_mirror_country }}" --latest 8 --protocol http --protocol https --sort rate
    --download-timeout 2 --save /etc/pacman.d/mirrorlist
  args:
    creates: /root/.cache/mirrorstatus.json
  notify: [Full Arch system upgrade, Upgrade all AUR packages]
